
@{
    ViewBag.Title = "Index";
}

<h2>Ejercicios desarrollados en clase 05:</h2>

<div align="center">
    <a class="btn btn-primary" style="color:white" href="~/Home/ingresoNotas">
        Boleta de Notas <span class="badge badge-light">Actividad Alumno</span>
    </a>

    <a class="btn btn-primary" style="color:white" href="~/Home/dobleDescuento">
        Compra con doble descuento <span class="badge badge-light">Caso 1</span>
    </a>


    <a class="btn btn-primary" style="color:white" href="~/Home/sueldoTrabajador">
        Cálculo del sueldo del Trabajador <span class="badge badge-light">Caso 2</span>
    </a>

    <a class="btn btn-primary" style="color:white" href="~/Home/casoArroz">
        Compra de Arroz <span class="badge badge-light">Caso 3</span>
    </a>
</div>
